body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background: #f5f5f5;
}
.cart-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  vertical-align: middle;
}
.product-card .cart-icon {
  width: 16px;
  height: 16px;
}



